**
!extension-bundle.js
!package.json
!icon.png
!README.md
!LICENSE.txt
!CHANGELOG
!taskUrlUtils.js
!node_modules/axios/**
!node_modules/cheerio/**
!node_modules/js-yaml/**

# Test files
**/test/**
**/__tests__/**
**/*.spec.ts
**/*.test.ts

# Documentation
**/*.md
!README.md
/docs/**

# Source maps
**/*.map

# Development specific
.git/**
.vscode/**
*.tsconfig.json
*.eslintrc.json
